body{
    background-color:rgb(26, 26, 27);
}
table{
    border:1px solid black;
    border-collapse:collapse;
    font-size:20px;
   
}
th,td{

    border-collapse:collapse;
    padding: 20px;
    height:100%;
    width:500px;
}
th{
    background-color:black;
    


}
td{
    background-color: antiquewhite;
    color:black;
}
form.main{
    position: relative;
    left:200px;
    top:50px;
    color:white;
    box-shadow: 4px 4px 5px black;
height:500px;
width:900px;
background-color:thistle
   
}
